<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NEWS CENTER</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/adminHome">
          <p class="navbar-brand">NEWS CENTER</p>
        </a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="about"><a href="/addNew">ADD NEWS</a></li>
          <!-- <li id="contact"><a href="/contact"></a></li> -->
          <li id="home"><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
